<a href="https://colab.research.google.com/github/sejeong-park/2020-AI/blob/master/%EC%9E%90%EB%8F%99%EC%B0%A8%20%EC%97%B0%EB%B9%84%EC%97%90%20%EB%94%B0%EB%A5%B8%20%EC%B0%A8%EC%A2%85%EC%98%88%EC%B8%A1(%EC%84%A0%ED%98%95%EB%B6%84%EB%A5%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip uninstall kaggle
!pip install --upgrade pip
!pip install kaggle==1.5.6

Uninstalling kaggle-1.5.6:
  Would remove:
    /usr/local/bin/kaggle
    /usr/local/lib/python3.6/dist-packages/kaggle-1.5.6.dist-info/*
    /usr/local/lib/python3.6/dist-packages/kaggle/*
Proceed (y/n)? y
  Successfully uninstalled kaggle-1.5.6
Collecting pip
  Downloading https://files.pythonhosted.org/packages/43/84/23ed6a1796480a6f1a2d38f2802901d078266bda38388954d01d3f2e821d/pip-20.1.1-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 2.7MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.1.1
Collecting kaggle==1.5.6
  Downloading kaggle-1.5.6.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 1.7 MB/s
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2020.4.5.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6) (4.0.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.6) (2.9)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.6) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.6-py3-none-any.whl size=72859 sha256=2717901964bf8e0006ac115eb4fcca33e2b5ad15a4b1ae6dc2c7ab8e6e6a1325
  Stored in directory: /root/.cache/pip/wheels/01/3e/ff/77407ebac3ef71a79b9166a8382aecf88415a0bcbe3c095a01
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.6

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!ls -lha kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

-rw-r--r-- 1 root root 67 Jun 14 04:33 kaggle.json

In [ ]:
!kaggle competitions download -c carclassification

Downloading carclassification.zip to /content
  0% 0.00/3.88k [00:00<?, ?B/s]
100% 3.88k/3.88k [00:00<00:00, 3.53MB/s]

In [ ]:
!unzip carclassification.zip

Archive:  carclassification.zip
  inflating: car5_submit.csv
  inflating: car5_test.csv
  inflating: car5_train.csv

In [ ]:
import os
import pandas as pd
import numpy as np
import torch
import torch.optim as optim
from sklearn.preprocessing import MinMaxScaler

from sklearn import preprocessing

In [ ]:
train=pd.read_csv('car5_train.csv')

In [ ]:
x_train=train.loc[:,[i for i in train.keys()[1:-1]]]
y_train=train[train.keys()[-1]]

In [ ]:
x_train

     typeofoil  displacement  ...  typeofcar  CO2
0            0          1580  ...          0   92
1            1          2151  ...          1  134
2            1          2497  ...          1  212
3            0          2497  ...          1  188
4            1          2199  ...          1  141
..         ...           ...  ...        ...  ...
196          0          2497  ...          1  194
197          1          2151  ...          1  133
198          0          2497  ...          1  174
199          0          1341  ...          1  127
200          1          1598  ...          1  129

[201 rows x 8 columns]

In [ ]:
y_train

0      1
1      2
2      5
3      5
4      3
      ..
196    5
197    2
198    4
199    3
200    2
Name: grade, Length: 201, dtype: int64

In [ ]:
Scaler=preprocessing.StandardScaler()
x_train=Scaler.fit_transform(x_train)

In [ ]:
x_train=np.array(x_train)
y_train=np.array(y_train)
x_train=torch.FloatTensor(x_train)
y_train=torch.LongTensor(y_train)

In [ ]:
x_train

tensor([[-0.9760, -0.9765, -0.9124,  ...,  1.5699, -3.0083, -1.5099],
        [ 0.6865,  0.0053,  0.2532,  ...,  0.5122,  0.3324, -0.3542],
        [ 0.6865,  0.6002,  0.5952,  ..., -1.1404,  0.3324,  1.7922],
        ...,
        [-0.9760,  0.6002,  0.5019,  ..., -0.9421,  0.3324,  0.7465],
        [-0.9760, -1.3875, -1.1611,  ...,  0.1817,  0.3324, -0.5468],
        [ 0.6865, -0.9456, -0.7104,  ...,  0.6445,  0.3324, -0.4917]])

In [ ]:
y_train

tensor([1, 2, 5, 5, 3, 1, 1, 2, 3, 2, 4, 3, 2, 3, 2, 2, 3, 2, 5, 3, 4, 3, 4, 1,
        3, 5, 5, 3, 2, 1, 3, 4, 4, 5, 2, 3, 3, 4, 3, 2, 3, 3, 3, 2, 1, 4, 2, 2,
        4, 2, 5, 3, 4, 3, 5, 5, 2, 4, 2, 1, 3, 2, 2, 2, 2, 5, 2, 5, 2, 2, 4, 5,
        2, 1, 3, 1, 2, 4, 4, 1, 5, 4, 1, 4, 3, 3, 5, 4, 4, 3, 4, 4, 5, 1, 4, 2,
        5, 5, 1, 2, 4, 2, 3, 3, 4, 1, 4, 4, 3, 3, 4, 5, 2, 5, 4, 5, 4, 3, 4, 2,
        1, 2, 5, 5, 3, 1, 4, 3, 3, 4, 3, 3, 3, 3, 2, 5, 3, 5, 1, 3, 2, 3, 4, 4,
        4, 1, 5, 1, 3, 2, 4, 3, 3, 4, 2, 2, 3, 2, 2, 4, 4, 4, 4, 5, 2, 5, 5, 1,
        3, 3, 2, 2, 3, 5, 5, 3, 1, 1, 5, 3, 3, 5, 4, 5, 1, 2, 5, 5, 4, 1, 3, 3,
        1, 1, 1, 4, 5, 2, 4, 3, 2])

In [ ]:
import torch.nn.functional as F
import torch.optim as optim

nb_class=8
nb_data=len(y_train)

In [ ]:
#y_one_hot = torch.zeros(nb_data, nb_class)
#y_one_hot.scatter_(1, y_train.unsqueeze(1), 1)

#print(y_one_hot)

tensor([[0., 1., 0.,  ..., 0., 0., 0.],
        [0., 0., 1.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 1., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 1.,  ..., 0., 0., 0.]])

In [ ]:
x_train

tensor([[-0.9760, -0.9765, -0.9124,  ...,  1.5699, -3.0083, -1.5099],
        [ 0.6865,  0.0053,  0.2532,  ...,  0.5122,  0.3324, -0.3542],
        [ 0.6865,  0.6002,  0.5952,  ..., -1.1404,  0.3324,  1.7922],
        ...,
        [-0.9760,  0.6002,  0.5019,  ..., -0.9421,  0.3324,  0.7465],
        [-0.9760, -1.3875, -1.1611,  ...,  0.1817,  0.3324, -0.5468],
        [ 0.6865, -0.9456, -0.7104,  ...,  0.6445,  0.3324, -0.4917]])

In [ ]:
import torch.nn.functional as F
import torch.optim as optim

nb_class=8
nb_data=len(y_train)

W=torch.zeros((8,nb_class),requires_grad=True)
b=torch.zeros(1,requires_grad=True)

optimizer=torch.optim.SGD([W,b],lr=0.5)

nb_epochs=1000


for epoch in range(nb_epochs+1):
  hypothesis=F.softmax(x_train.matmul(W)+b,dim=1)
  cost = F.cross_entropy((x_train.matmul(W) + b), y_train)

  optimizer.zero_grad()
  cost.backward()
  optimizer.step()

  if epoch%100==0:
    print('Epoch: {:4d}/{}  Cost: {:.6f}'.format(epoch,nb_epochs,cost.item()))

Epoch:    0/1000  Cost: 2.079439
Epoch:  100/1000  Cost: 0.743091
Epoch:  200/1000  Cost: 0.611722
Epoch:  300/1000  Cost: 0.536795
Epoch:  400/1000  Cost: 0.488723
Epoch:  500/1000  Cost: 0.454460
Epoch:  600/1000  Cost: 0.428164
Epoch:  700/1000  Cost: 0.406972
Epoch:  800/1000  Cost: 0.389307
Epoch:  900/1000  Cost: 0.374220
Epoch: 1000/1000  Cost: 0.361096

In [ ]:
hypothesis=F.softmax(x_train.matmul(W)+b,dim=1)
predict=torch.argmax(hypothesis,dim=1)

print(predict)
print(y_train)

correct_prediction=predict.float()==y_train
print(correct_prediction)

accuracy=correct_prediction.sum().item()/len(correct_prediction)
print('Accuracy: {:2.2f}'.format(accuracy*100))

tensor([1, 2, 5, 5, 3, 1, 2, 2, 3, 2, 4, 3, 2, 3, 2, 1, 3, 2, 5, 3, 4, 3, 5, 1,
        4, 5, 5, 3, 2, 1, 3, 4, 4, 5, 2, 3, 3, 4, 3, 2, 3, 3, 3, 3, 2, 4, 2, 1,
        4, 2, 5, 3, 4, 3, 5, 5, 2, 4, 2, 1, 3, 2, 2, 2, 2, 5, 2, 5, 2, 2, 4, 5,
        2, 1, 3, 1, 2, 4, 4, 1, 5, 5, 1, 4, 3, 3, 5, 4, 4, 3, 4, 4, 5, 1, 4, 2,
        5, 5, 1, 2, 4, 1, 3, 3, 4, 1, 4, 4, 3, 3, 4, 5, 2, 5, 4, 5, 4, 3, 4, 3,
        1, 2, 5, 5, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 2, 5, 3, 5, 1, 3, 2, 3, 3, 5,
        4, 1, 5, 1, 3, 2, 4, 4, 3, 4, 2, 2, 3, 2, 2, 4, 4, 4, 4, 5, 2, 5, 5, 1,
        3, 3, 2, 2, 3, 5, 5, 4, 1, 1, 5, 4, 3, 5, 4, 5, 1, 1, 5, 5, 4, 1, 3, 2,
        2, 1, 2, 4, 5, 2, 4, 3, 2], grad_fn=<NotImplemented>)
tensor([1, 2, 5, 5, 3, 1, 1, 2, 3, 2, 4, 3, 2, 3, 2, 2, 3, 2, 5, 3, 4, 3, 4, 1,
        3, 5, 5, 3, 2, 1, 3, 4, 4, 5, 2, 3, 3, 4, 3, 2, 3, 3, 3, 2, 1, 4, 2, 2,
        4, 2, 5, 3, 4, 3, 5, 5, 2, 4, 2, 1, 3, 2, 2, 2, 2, 5, 2, 5, 2, 2, 4, 5,
        2, 1, 3, 1, 2, 4, 4, 1, 5, 4, 1, 4, 3, 3, 5, 4, 4, 3, 4, 4, 5, 1, 4, 2,
        5, 5, 1, 2, 4, 2, 3, 3, 4, 1, 4, 4, 3, 3, 4, 5, 2, 5, 4, 5, 4, 3, 4, 2,
        1, 2, 5, 5, 3, 1, 4, 3, 3, 4, 3, 3, 3, 3, 2, 5, 3, 5, 1, 3, 2, 3, 4, 4,
        4, 1, 5, 1, 3, 2, 4, 3, 3, 4, 2, 2, 3, 2, 2, 4, 4, 4, 4, 5, 2, 5, 5, 1,
        3, 3, 2, 2, 3, 5, 5, 3, 1, 1, 5, 3, 3, 5, 4, 5, 1, 2, 5, 5, 4, 1, 3, 3,
        1, 1, 1, 4, 5, 2, 4, 3, 2])
tensor([ True,  True,  True,  True,  True,  True, False,  True,  True,  True,
         True,  True,  True,  True,  True, False,  True,  True,  True,  True,
         True,  True, False,  True, False,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True, False, False,  True,  True, False,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
         True, False,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
         True, False,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True, False,
         True,  True,  True,  True,  True, False,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True, False, False,  True,  True,  True,  True,  True,  True,
         True, False,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True, False,  True,  True,  True, False,
         True,  True,  True,  True,  True, False,  True,  True,  True,  True,
         True, False, False,  True, False,  True,  True,  True,  True,  True,
         True])
Accuracy: 90.05

In [ ]:
test=pd.read_csv('car5_test.csv')

In [ ]:
x_test=test.loc[:,[i for i in test.keys()[1:]]]

In [ ]:
x_test

    typeofoil  displacement  ...  typeofcar  CO2
0           0          1580  ...          0   82
1           1          2497  ...          1  211
2           0          1497  ...          1  147
3           0          2497  ...          1  158
4           1          2199  ...          1  131
5           0          3470  ...          1  205
6           1          2497  ...          1  216
7           2          1999  ...          1  131
8           1          1582  ...          1  111
9           0          1199  ...          1  135
10          1          2996  ...          1  167
11          0          3470  ...          1  189
12          0          1999  ...          0   83
13          1          2497  ...          1  211
14          1          2157  ...          1  178
15          0          2359  ...          0  108
16          0          3342  ...          1  188
17          1          2996  ...          1  184
18          1          1995  ...          1  128
19          1          2996  ...          1  167
20          0          1999  ...          0   81
21          1          2151  ...          1  132
22          0          1598  ...          1  115
23          1          1597  ...          1  137
24          0          2497  ...          1  173
25          0          1341  ...          1  131
26          1          1598  ...          1  107
27          1          2157  ...          1  173
28          0          3342  ...          1  198
29          0          3470  ...          1  205
30          1          1749  ...          1  132
31          1          2497  ...          1  212
32          0          3470  ...          1  215
33          1          2157  ...          1  194
34          1          2151  ...          1  132
35          1          2497  ...          1  216
36          1          2497  ...          1  212
37          1          2996  ...          1  173
38          0          3470  ...          1  221
39          0          3470  ...          1  203
40          0          2497  ...          1  190
41          0          2497  ...          1  188
42          0          1598  ...          1  110
43          1          2151  ...          1  134
44          1          1582  ...          1  104
45          1          2497  ...          1  211
46          0          1497  ...          1  131
47          0          1598  ...          1  121
48          1          2497  ...          1  220
49          1          2151  ...          1  144
50          1          2996  ...          1  173

[51 rows x 8 columns]

In [ ]:
x_test=Scaler.fit_transform(x_test)
x_test=np.array(x_test)
x_test=torch.FloatTensor(x_test)

In [ ]:
x_test

tensor([[-1.0661, -1.1962, -1.2835,  2.7851,  1.5645,  2.2990, -3.4278, -1.9095],
        [ 0.8087,  0.2198,  0.3342, -0.6298, -1.1236, -0.8547,  0.2917,  1.2032],
        [-1.0661, -1.3244, -1.0384, -0.2298, -0.1767, -0.1990,  0.2917, -0.3411],
        [-1.0661,  0.2198, -0.0090, -0.4759, -0.1156, -0.3863,  0.2917, -0.0757],
        [ 0.8087, -0.2404, -0.2214,  0.6316,  1.0146,  0.8002,  0.2917, -0.7272],
        [-1.0661,  1.7222,  1.1676, -1.1220, -1.0320, -1.1045,  0.2917,  1.0584],
        [ 0.8087,  0.2198,  0.1218, -0.6913, -1.2153, -0.9172,  0.2917,  1.3238],
        [ 2.6835, -0.5492, -1.1855, -0.6913, -0.4516, -0.6049,  0.2917, -0.7272],
        [ 0.8087, -1.1931, -1.6757,  1.4622,  1.3812,  1.4872,  0.2917, -1.2098],
        [-1.0661, -1.7846, -1.4796,  0.2932, -0.0240,  0.2069,  0.2917, -0.6307],
        [ 0.8087,  0.9903,  1.2329, -0.1991,  0.0066, -0.1053,  0.2917,  0.1415],
        [-1.0661,  1.7222,  0.3342, -0.9682, -0.6043, -0.8859,  0.2917,  0.6723],
        [-1.0661, -0.5492, -0.9240,  2.4467,  1.7783,  2.2366, -3.4278, -1.8854],
        [ 0.8087,  0.2198,  0.7754, -0.6298, -1.1542, -0.8547,  0.2917,  1.2032],
        [ 0.8087, -0.3053,  1.2493, -0.2914, -0.4211, -0.3239,  0.2917,  0.4069],
        [-1.0661,  0.0067, -0.2051,  1.2776,  0.5564,  1.0188, -3.4278, -1.2822],
        [-1.0661,  1.5246, -0.2051, -0.9682, -0.8182, -0.9172,  0.2917,  0.6482],
        [ 0.8087,  0.9903,  1.6578, -0.4144, -0.4211, -0.4176,  0.2917,  0.5517],
        [ 0.8087, -0.5554, -0.4338,  0.9084,  0.7092,  0.8627,  0.2917, -0.7996],
        [ 0.8087,  0.9903,  1.1676, -0.1991,  0.0066, -0.1053,  0.2917,  0.1415],
        [-1.0661, -0.5492, -0.9567,  2.5697,  2.0532,  2.4239, -3.4278, -1.9337],
        [ 0.8087, -0.3145,  0.1218,  0.4470,  1.3506,  0.7690,  0.2917, -0.7031],
        [-1.0661, -1.1684, -1.9698,  0.5393,  1.1063,  0.7690,  0.2917, -1.1133],
        [ 0.8087, -1.1700, -0.8423,  0.4777,  0.7703,  0.6129,  0.2917, -0.5824],
        [-1.0661,  0.2198,  0.2688, -0.7221, -0.5127, -0.6674,  0.2917,  0.2862],
        [-1.0661, -1.5653, -1.3816,  0.4162,  0.0677,  0.3006,  0.2917, -0.7272],
        [ 0.8087, -1.1684, -1.3326,  1.7083,  1.5034,  1.6745,  0.2917, -1.3063],
        [ 0.8087, -0.3053,  0.8898, -0.1375, -0.3905, -0.2302,  0.2917,  0.2862],
        [-1.0661,  1.5246,  0.0237, -1.1220, -0.8487, -1.0733,  0.2917,  0.8895],
        [-1.0661,  1.7222,  0.5629, -1.1527, -0.9098, -1.1045,  0.2917,  1.0584],
        [ 0.8087, -0.9353, -0.2868,  0.6316,  0.9230,  0.7690,  0.2917, -0.7031],
        [ 0.8087,  0.2198,  0.7590, -0.6605, -1.1236, -0.8547,  0.2917,  1.2273],
        [-1.0661,  1.7222,  1.2656, -1.2143, -1.2153, -1.2294,  0.2917,  1.2997],
        [ 0.8087, -0.3053,  1.2166, -0.5990, -0.5738, -0.5737,  0.2917,  0.7930],
        [ 0.8087, -0.3145,  0.1708,  0.4470,  1.2895,  0.7690,  0.2917, -0.7031],
        [ 0.8087,  0.2198,  0.1708, -0.6913, -1.1847, -0.9172,  0.2917,  1.3238],
        [ 0.8087,  0.2198,  0.4486, -0.6605, -1.1236, -0.8547,  0.2917,  1.2273],
        [ 0.8087,  0.9903,  1.3310, -0.2914, -0.1461, -0.2302,  0.2917,  0.2862],
        [-1.0661,  1.7222,  1.3146, -1.2758, -1.2764, -1.2919,  0.2917,  1.4445],
        [-1.0661,  1.7222,  0.5629, -1.1527, -0.9098, -1.1045,  0.2917,  1.0101],
        [-1.0661,  0.2198,  1.0368, -0.9374, -0.8793, -0.9172,  0.2917,  0.6964],
        [-1.0661,  0.2198,  0.8571, -0.8759, -0.8793, -0.8859,  0.2917,  0.6482],
        [-1.0661, -1.1684, -1.7738,  0.6931,  1.2285,  0.9251,  0.2917, -1.2339],
        [ 0.8087, -0.3145, -0.1070,  0.5393,  0.9230,  0.7065,  0.2917, -0.6548],
        [ 0.8087, -1.1931, -1.4143,  1.6160,  2.0227,  1.8306,  0.2917, -1.3787],
        [ 0.8087,  0.2198,  0.4159, -0.6298, -1.1236, -0.8547,  0.2917,  1.2032],
        [-1.0661, -1.3244, -1.5777,  0.1393,  0.1899,  0.1757,  0.2917, -0.7272],
        [-1.0661, -1.1684, -1.2018,  0.3855,  0.8924,  0.5816,  0.2917, -0.9685],
        [ 0.8087,  0.2198,  0.5466, -0.7528, -1.2153, -0.9484,  0.2917,  1.4203],
        [ 0.8087, -0.3145,  0.2035,  0.2624,  0.6786,  0.4255,  0.2917, -0.4135],
        [ 0.8087,  0.9903,  1.2983, -0.2914, -0.1461, -0.2302,  0.2917,  0.2862]])

In [ ]:
hypothesis=F.softmax(x_test.matmul(W)+b,dim=1)
predict=torch.argmax(hypothesis,dim=1)

print(predict.shape)

torch.Size([51])

In [ ]:
predict

tensor([1, 5, 3, 3, 2, 5, 5, 4, 2, 3, 3, 5, 1, 5, 4, 1, 5, 4, 2, 3, 1, 2, 2, 2,
        4, 3, 1, 4, 5, 5, 2, 5, 5, 4, 2, 5, 5, 3, 5, 5, 4, 4, 2, 2, 2, 5, 3, 2,
        5, 2, 3], grad_fn=<NotImplemented>)

In [ ]:
import pandas as pd

submit=pd.read_csv('car5_submit.csv')

submit

    Id  Catagory
0    0       NaN
1    1       NaN
2    2       NaN
3    3       NaN
4    4       NaN
5    5       NaN
6    6       NaN
7    7       NaN
8    8       NaN
9    9       NaN
10  10       NaN
11  11       NaN
12  12       NaN
13  13       NaN
14  14       NaN
15  15       NaN
16  16       NaN
17  17       NaN
18  18       NaN
19  19       NaN
20  20       NaN
21  21       NaN
22  22       NaN
23  23       NaN
24  24       NaN
25  25       NaN
26  26       NaN
27  27       NaN
28  28       NaN
29  29       NaN
30  30       NaN
31  31       NaN
32  32       NaN
33  33       NaN
34  34       NaN
35  35       NaN
36  36       NaN
37  37       NaN
38  38       NaN
39  39       NaN
40  40       NaN
41  41       NaN
42  42       NaN
43  43       NaN
44  44       NaN
45  45       NaN
46  46       NaN
47  47       NaN
48  48       NaN
49  49       NaN
50  50       NaN

In [ ]:
predict=predict.detach().reshape(-1,1)

id=np.array([i for i in range(len(predict))]).reshape(-1,1)
result=np.hstack([id,predict])

submit=pd.DataFrame(result,columns=["Id","Category"])
submit.to_csv("baseline.csv",index=False,header=True)

In [ ]:
predict

tensor([[1],
        [5],
        [3],
        [3],
        [2],
        [5],
        [5],
        [4],
        [2],
        [3],
        [3],
        [5],
        [1],
        [5],
        [4],
        [1],
        [5],
        [4],
        [2],
        [3],
        [1],
        [2],
        [2],
        [2],
        [4],
        [3],
        [1],
        [4],
        [5],
        [5],
        [2],
        [5],
        [5],
        [4],
        [2],
        [5],
        [5],
        [3],
        [5],
        [5],
        [4],
        [4],
        [2],
        [2],
        [2],
        [5],
        [3],
        [2],
        [5],
        [2],
        [3]])

In [ ]:
submit

    Id  Category
0    0         1
1    1         5
2    2         3
3    3         3
4    4         2
5    5         5
6    6         5
7    7         4
8    8         2
9    9         3
10  10         3
11  11         5
12  12         1
13  13         5
14  14         4
15  15         1
16  16         5
17  17         4
18  18         2
19  19         3
20  20         1
21  21         2
22  22         2
23  23         2
24  24         4
25  25         3
26  26         1
27  27         4
28  28         5
29  29         5
30  30         2
31  31         5
32  32         5
33  33         4
34  34         2
35  35         5
36  36         5
37  37         3
38  38         5
39  39         5
40  40         4
41  41         4
42  42         2
43  43         2
44  44         2
45  45         5
46  46         3
47  47         2
48  48         5
49  49         2
50  50         3

In [ ]:
!kaggle competitions submit -c carclassification -f baseline.csv -m "17011885"

100% 257/257 [00:06<00:00, 41.8B/s]
Successfully submitted to 국산자동차 에너지효율등급 예측하기